# Generate a new keypair for the distribution account
SEP10_SIGNING_PUBLIC_KEY=
SEP10_SIGNING_PRIVATE_KEY=

# Generate a new keypair for the distribution account
DISTRIBUTION_PUBLIC_KEY=
DISTRIBUTION_SEED=
DISTRIBUTION_ACCOUNT_ENCRYPTION_PASSPHRASE=${DISTRIBUTION_SEED}
CHANNEL_ACCOUNT_ENCRYPTION_PASSPHRASE=${DISTRIBUTION_SEED}

# Anchor platform configuration
ANCHOR_PLATFORM_BASE_PLATFORM_URL=http://localhost:8085
ANCHOR_PLATFORM_BASE_SEP_URL=http://localhost:8080
ANCHOR_PLATFORM_BASE_URL=http://localhost:8090

CORS_ALLOWED_ORIGINS=*
BASE_URL=http://stellar.local:8000
SDP_UI_BASE_URL=http://stellar.local:3000
DATABASE_URL="postgres://postgres@localhost:5432/sdp_mtn?sslmode=disable"

LOG_LEVEL=info
EC256_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQgdo6o+tdFkF94B7z8\nnoybH6/zO3PryLLjLbj54/zOi4WhRANCAAQncc2mE8AQoe+1GOyXkqPBz21MypLa\nmZg3JusuzFnpy5C+DbKIShdmLE/ZwnvtywcKVcLpxvXBCn8E0YO8Yqg+\n-----END PRIVATE KEY-----"
EMAIL_SENDER_TYPE=DRY_RUN
SMS_SENDER_TYPE=DRY_RUN
DISABLE_MFA=true
DISABLE_RECAPTCHA=true
RECAPTCHA_SITE_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
RECAPTCHA_SITE_SECRET_KEY=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe
SEP24_JWT_SECRET='jwt_secret_1234567890'
ANCHOR_PLATFORM_OUTGOING_JWT_SECRET=mySdpToAnchorPlatformSecret

# multi-tenant
INSTANCE_NAME="SDP Testnet on Docker"
ADMIN_PORT="8003"
TENANT_XLM_BOOTSTRAP_AMOUNT=5
ADMIN_ACCOUNT=SDP-admin
ADMIN_API_KEY=api_key_1234567890

# scheduler options
# ENABLE_SCHEDULER=true DEPRECATED Use EVENT_BROKER_TYPE=SCHEDULER instead.
SCHEDULER_RECEIVER_INVITATION_JOB_SECONDS="10"
SCHEDULER_PAYMENT_JOB_SECONDS="10"

# Event broker configuration options: KAFKA, SCHEDULER
EVENT_BROKER_TYPE=SCHEDULER