# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Environment files
.env
.env.*
!.env.example

# subproject used for testing:
v1_compatibility/stellar-relief-backoffice-backend

# Project binary:
stellar-disbursement-platform-backend

# Text Editors
.vscode
.idea
.cursor

# Rust & Soroban
target/
test_snapshots/