# ================================================= SDP =================================================

# SEP-10 Auth
SEP10_SIGNING_PUBLIC_KEY=GBLGCMWNTSK5S7K4KQ64GFRWYQ356OIY4XLZB64FB6RYRXCXJLCENBSR
SEP10_SIGNING_PRIVATE_KEY=SCM2SVCE7VUV7ORQUZUWLQHMYXGAIEJI3MYL2OVY2X5IKWPXEXEIWSO7

# Distribution Account
DISTRIBUTION_PUBLIC_KEY=GAYIAGKMZUAAFLM7FBWOSVEQAZKKXSIKWDTRQTYJBMOVVBCMHTMFZQHQ
DISTRIBUTION_SEED=SDFLIPWNRZRKG2FAMOFJXVYF67XZEODNY3Y3L3QMHQW52OFDPP6OZSSD

# DB encryption keys
CHANNEL_ACCOUNT_ENCRYPTION_PASSPHRASE=${DISTRIBUTION_SEED}
DISTRIBUTION_ACCOUNT_ENCRYPTION_PASSPHRASE=${DISTRIBUTION_SEED}

# C-account Recovery
EMBEDDED_WALLETS_RECOVERY_ADDRESS=GBU6LL6OVZJJYV5AOXQVNGDR24SKF6ENQVHH7UY6APD6GIOGXTVUOSEP
EMBEDDED_WALLETS_RECOVERY_MASTER_PRIVATE_KEY=SCHUSXSUPIEYD4RNZX4TIIGF7BUA6Q25OPBEV256P6H5FXMVNQ2OV3BX
EMBEDDED_WALLETS_RECOVERY_COSIGNER_PUBLIC_KEY=GCKGER5C4ZIUVA4B3O4IOT6DAQGDJHD5KPILCSNSC2WS3DXUY73WRTOZ
EMBEDDED_WALLETS_RECOVERY_COSIGNER_PRIVATE_KEY=SDPKXE2N4H4AGRZ2ON74M3BKW52SCFDYQPMZJ7EF5RCP6KQZ2WHVEUMY

# Default Tenant Provisioning
DEFAULT_TENANT_OWNER_EMAIL="admin@example.com"
DEFAULT_TENANT_OWNER_FIRST_NAME="Admin"
DEFAULT_TENANT_OWNER_LAST_NAME="User"
DEFAULT_TENANT_DISTRIBUTION_ACCOUNT_TYPE="DISTRIBUTION_ACCOUNT.STELLAR.ENV"
SINGLE_TENANT_MODE="true"
SDP_UI_BASE_URL="http://localhost:3001"