version: '3.8'
services:
  sdp-tss:
    container_name: sdp-tss
    image: stellar/sdp-v2:latest
    build:
      context: ../
      dockerfile: Dockerfile
    ports:
      - "9000:9000"
    environment:
      DATABASE_URL: postgres://postgres@db:5432/postgres?sslmode=disable
      NETWORK_PASSPHRASE: "Test SDF Network ; September 2015"
      HORIZON_URL: "https://horizon-testnet.stellar.org"
      NUM_CHANNEL_ACCOUNTS: "3"
      MAX_BASE_FEE: "100"
      MOCK: "false"
      TSS_METRICS_PORT: "9002"
      TSS_METRICS_TYPE: "TSS_PROMETHEUS"
      DISTRIBUTION_SEED: ${DISTRIBUTION_SEED}
    depends_on:
      - db
      - sdp-api
    entrypoint: ""
    command:
      - sh
      - -c
      - |
        sleep 10
        ./stellar-disbursement-platform channel-accounts verify --delete-invalid-accounts
        ./stellar-disbursement-platform channel-accounts ensure --num-channel-accounts-ensure 1
        ./stellar-disbursement-platform tss

