services:
  db:
    extends:
      file: docker-compose-sdp-anchor.yml
      service: db
    volumes:
      - postgres-db:/data/postgres
  sdp-api:
    extends:
      file: docker-compose-sdp-anchor.yml
      service: sdp-api
    depends_on:
      db:
        condition: service_started
      #kafka:
      #  condition: service_started
      #kafka-init:
      #  condition: service_completed_successfully
  db-anchor-platform:
    extends:
      file: docker-compose-sdp-anchor.yml
      service: db-anchor-platform
    depends_on:
      - sdp-api
    volumes:
      - postgres-ap-db:/data/postgres
  anchor-platform:
    extends:
      file: docker-compose-sdp-anchor.yml
      service: anchor-platform
    depends_on:
      - db-anchor-platform
  sdp-tss:
    extends:
      file: docker-compose-tss.yml
      service: sdp-tss
    depends_on:
      - db
      - sdp-api
#      - kafka
  sdp-frontend:
    extends:
      file: docker-compose-frontend.yml
      service: sdp-frontend
    depends_on:
      - db
      - sdp-api
  #kafka:
  #  extends:
  #    file: docker-compose-sdp-anchor.yml
  #    service: kafka
  #  volumes:
  #    - kafka-data:/bitnami
  #kafka-init:
  #  extends:
  #    file: docker-compose-sdp-anchor.yml
  #    service: kafka-init
  #  depends_on:
  #    kafka:
  #      condition: service_healthy
  demo-wallet:
    extends:
      file: docker-compose-sdp-anchor.yml
      service: demo-wallet

volumes:
  postgres-db:
    driver: local
  postgres-ap-db:
    driver: local
  kafka-data:
    driver: local
