services:
  sdp-frontend:
    extends:
      file: docker-compose-frontend.yml
      service: sdp-frontend
  sdp-frontend-proxy:
    image: nginx:1.25-alpine
    depends_on:
      - sdp-frontend
    ports:
      - "3443:443"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./nginx-https.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certs:/etc/nginx/ssl:ro
      - ./env-config-${NETWORK_TYPE:-testnet}.js:/etc/nginx/html-env/env-config.js:ro
