version: '3.8'
services:
  sdp-frontend:
    image: stellar/stellar-disbursement-platform-frontend:edge
    ports:
      - "3000:80"
    volumes:
      - ./env-config-${NETWORK_TYPE:-testnet}.js:/usr/share/nginx/html/settings/env-config.js
