version: '3.8'
services:
  sdp-tss:
    image: stellar/sdp-v2:latest
    build:
      context: ../
      dockerfile: Dockerfile
    ports:
      - "9000:9000"
    environment:
      DATABASE_URL: postgres://postgres@db:5432/${DATABASE_NAME:-sdp_mtn}?sslmode=disable
      NETWORK_PASSPHRASE: "${NETWORK_PASSPHRASE:-Test SDF Network ; September 2015}"
      HORIZON_URL: "${HORIZON_URL:-https://horizon-testnet.stellar.org}"
      NUM_CHANNEL_ACCOUNTS: "3"
      MAX_BASE_FEE: "1000000"
      TSS_METRICS_PORT: "9002"
      TSS_METRICS_TYPE: "TSS_PROMETHEUS"
      DISTRIBUTION_PUBLIC_KEY: ${DISTRIBUTION_PUBLIC_KEY}
      DISTRIBUTION_SEED: ${DISTRIBUTION_SEED}
      DISTRIBUTION_ACCOUNT_ENCRYPTION_PASSPHRASE: ${DISTRIBUTION_ACCOUNT_ENCRYPTION_PASSPHRASE}
      CHANNEL_ACCOUNT_ENCRYPTION_PASSPHRASE: ${CHANNEL_ACCOUNT_ENCRYPTION_PASSPHRASE}

      # multi-tenant
      EVENT_BROKER_TYPE: "SCHEDULER"
    entrypoint: ""
    command:
      - sh
      - -c
      - |
        sleep 10
        ./stellar-disbursement-platform channel-accounts delete --delete-all-accounts
        ./stellar-disbursement-platform channel-accounts ensure 1
        ./stellar-disbursement-platform tss
