version: '3.8'
services:
  db:
    container_name: e2e-sdp-v2-database
    image: postgres:14-alpine
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_DB: e2e-sdp
      PGDATA: /data/postgres
    ports:
      - "5432:5432"
    volumes:
      - e2e-postgres-db:/data/postgres

  sdp-api:
    container_name: e2e-sdp-api
    image: stellar/sdp-v2:latest
    build:
      context: ../../
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      BASE_URL: http://localhost:8000
      DATABASE_URL: postgres://postgres@db:5432/e2e-sdp?sslmode=disable
      ENVIRONMENT: localhost
      LOG_LEVEL: TRACE
      PORT: "8000"
      METRICS_PORT: "8002"
      METRICS_TYPE: PROMETHEUS
      EMAIL_SENDER_TYPE: DRY_RUN
      SMS_SENDER_TYPE: DRY_RUN
      NETWORK_PASSPHRASE: "Test SDF Network ; September 2015"
      EC256_PUBLIC_KEY: "-----BEGIN PUBLIC KEY-----\nMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEJ3HNphPAEKHvtRjsl5Kjwc9tTMqS\n2pmYNybrLsxZ6cuQvg2yiEoXZixP2cJ77csHClXC6cb1wQp/BNGDvGKoPg==\n-----END PUBLIC KEY-----"
      SEP10_SIGNING_PUBLIC_KEY: ${SEP10_SIGNING_PUBLIC_KEY}
      ANCHOR_PLATFORM_BASE_SEP_URL: http://anchor-platform:8080
      ANCHOR_PLATFORM_BASE_PLATFORM_URL: http://anchor-platform:8085
      DISTRIBUTION_PUBLIC_KEY: ${DISTRIBUTION_PUBLIC_KEY}
      RECAPTCHA_SITE_KEY: 6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
      CORS_ALLOWED_ORIGINS: "*"
      ENABLE_MFA: "false"
      ENABLE_RECAPTCHA: "false"

      # integration tests vars
      USER_EMAIL: ${USER_EMAIL}
      USER_PASSWORD: ${USER_PASSWORD}
      DISBURSED_ASSET_CODE: USDC
      DISBURSED_ASSET_ISSUER: GDKLFXO3FL25I7ST632KMMBP5D72QGTDV55TOWUB2XG2O67NNQDKYMLG
      RECEIVER_ACCOUNT_PUBLIC_KEY: GCDYFAJSZPH3RCXL6NWMMOY54CXNUBYFTDCBW7GGG6VPBW3WSDKSB2NU
      RECEIVER_ACCOUNT_PRIVATE_KEY: SDSAVUWVNOFG2JEHKIWEUHAYIA6PLGEHLMHX2TMVKEQGZKOFQ7XXKDFE
      DISBURSEMENT_CSV_FILE_PATH: files
      DISBURSEMENT_CSV_FILE_NAME: disbursement_integration_tests.csv
      SERVER_API_BASE_URL: http://localhost:8000

      # secrets:
      AWS_ACCESS_KEY_ID: MY_AWS_ACCESS_KEY_ID
      AWS_REGION: MY_AWS_REGION
      AWS_SECRET_ACCESS_KEY: MY_AWS_SECRET_ACCESS_KEY
      AWS_SES_SENDER_ID: MY_AWS_SES_SENDER_ID
      TWILIO_ACCOUNT_SID: MY_TWILIO_ACCOUNT_SID
      TWILIO_AUTH_TOKEN: MY_TWILIO_AUTH_TOKEN
      TWILIO_SERVICE_SID: MY_TWILIO_SERVICE_SID
      EC256_PRIVATE_KEY: "-----BEGIN PRIVATE KEY-----\nMIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQgdo6o+tdFkF94B7z8\nnoybH6/zO3PryLLjLbj54/zOi4WhRANCAAQncc2mE8AQoe+1GOyXkqPBz21MypLa\nmZg3JusuzFnpy5C+DbKIShdmLE/ZwnvtywcKVcLpxvXBCn8E0YO8Yqg+\n-----END PRIVATE KEY-----"
      SEP10_SIGNING_PRIVATE_KEY: ${SEP10_SIGNING_PRIVATE_KEY}
      SEP24_JWT_SECRET: jwt_secret_1234567890
      RECAPTCHA_SITE_SECRET_KEY: 6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe
      ANCHOR_PLATFORM_OUTGOING_JWT_SECRET: mySdpToAnchorPlatformSecret
      DISTRIBUTION_SEED: ${DISTRIBUTION_SEED}
    entrypoint: ""
    command:
      - sh
      - -c
      - |
        sleep 5
        ./stellar-disbursement-platform db migrate up
        ./stellar-disbursement-platform db auth migrate up
        ./stellar-disbursement-platform db setup-for-network
        ./stellar-disbursement-platform serve
    depends_on:
      - db

  tss:
    container_name: e2e-sdp-tss
    image: stellar/sdp-v2:latest
    build:
      context: ../../
      dockerfile: Dockerfile
    ports:
      - "9000:9000"
    environment:
      DATABASE_URL: postgres://postgres@db:5432/e2e-sdp?sslmode=disable
      NETWORK_PASSPHRASE: "Test SDF Network ; September 2015"
      HORIZON_URL: "https://horizon-testnet.stellar.org"
      NUM_CHANNEL_ACCOUNTS: "1"
      MAX_BASE_FEE: "100"
      MOCK: "false"
      TSS_METRICS_PORT: "9002"
      TSS_METRICS_TYPE: "TSS_PROMETHEUS"
      DISTRIBUTION_SEED: ${DISTRIBUTION_SEED}
    depends_on:
      - db
      - sdp-api
    entrypoint: ""
    command:
      - sh
      - -c
      - |
        sleep 30
        ./stellar-disbursement-platform channel-accounts verify --delete-invalid-accounts
        ./stellar-disbursement-platform channel-accounts ensure --num-channel-accounts-ensure 1
        ./stellar-disbursement-platform tss

  db-anchor-platform:
    container_name: e2e-anchor-platform-postgres-db
    image: postgres:14-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: e2e-postgres
      PGPORT: 5433
    ports:
      - "5433:5433"
    volumes:
      - e2e-postgres-ap-db:/data/postgres

  anchor-platform:
    container_name: e2e-anchor-platform
    image: stellar/anchor-platform:2.1.3
    command: --sep-server --platform-server --platform linux/amd64
    ports:
      - "8080:8080" # sep-server
      - "8085:8085" # platform-server
      - "8082:8082" # metrics
    depends_on:
      - db-anchor-platform
    environment:
      HOST_URL: http://localhost:8080
      SEP_SERVER_PORT: 8080
      CALLBACK_API_BASE_URL: http://sdp-api:8000
      CALLBACK_API_AUTH_TYPE: none  # TODO: update to jwt later
      PLATFORM_SERVER_AUTH_TYPE: JWT
      APP_LOGGING_LEVEL: INFO
      DATA_TYPE: postgres
      DATA_SERVER: db-anchor-platform:5433
      DATA_DATABASE: e2e-postgres
      DATA_FLYWAY_ENABLED: "true"
      DATA_DDL_AUTO: update
      METRICS_ENABLED: "false"  # Metrics would be available at port 8082
      METRICS_EXTRAS_ENABLED: "false"
      SEP10_ENABLED: "true"
      SEP10_HOME_DOMAIN: localhost:8080
      # SEP10_CLIENT_ATTRIBUTION_REQUIRED: true  # RECOMMENDED
      # SEP10_CLIENT_ATTRIBUTION_ALLOW_LIST: "demo-wallet-server.stellar.org,https://example.com"  # RECOMMENDED
      SEP24_ENABLED: "true"
      SEP24_INTERACTIVE_URL_BASE_URL: http://sdp-api:8000/wallet-registration/start
      SEP24_INTERACTIVE_URL_JWT_EXPIRATION: 1800  # 1800 seconds is 30 minutes
      SEP24_MORE_INFO_URL_BASE_URL: http://sdp-api:8000/wallet-registration/start
      SEP1_ENABLED: "true"
      SEP1_TOML_TYPE: url
      SEP1_TOML_VALUE: http://sdp-api:8000/.well-known/stellar.toml
      ASSETS_TYPE: json
      ASSETS_VALUE: |   # TODO: keep this up to date with the latest assets supported by the SDP
        {
          "assets": [
            {
              "sep24_enabled": true,
              "schema": "stellar",
              "code": "USDC",
              "issuer": "GDKLFXO3FL25I7ST632KMMBP5D72QGTDV55TOWUB2XG2O67NNQDKYMLG",
              "distribution_account": "${DISTRIBUTION_PUBLIC_KEY}",
              "significant_decimals": 7,
              "deposit": {
                "enabled": true,
                "fee_minimum": 0,
                "fee_percent": 0,
                "min_amount": 1,
                "max_amount": 10000
              },
              "withdraw": {"enabled": false}
            }
          ]
        }

      # secrets:
      SECRET_DATA_USERNAME: postgres
      SECRET_DATA_PASSWORD: postgres
      SECRET_PLATFORM_API_AUTH_SECRET: mySdpToAnchorPlatformSecret
      SECRET_SEP10_JWT_SECRET: jwt_secret_1234567890
      SECRET_SEP10_SIGNING_SEED: ${SEP10_SIGNING_PRIVATE_KEY}
      SECRET_SEP24_INTERACTIVE_URL_JWT_SECRET: jwt_secret_1234567890
      SECRET_SEP24_MORE_INFO_URL_JWT_SECRET: jwt_secret_1234567890
volumes:
  e2e-postgres-db:
    driver: local
  e2e-postgres-ap-db:
    driver: local