---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "sdp.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "sdp.labels" . | nindent 4 }}
  {{- if .Values.sdp.configMap.annotations }}
  annotations:
    {{- toYaml .Values.sdp.configMap.annotations | nindent 4 }}
  {{- end }}

data:
  {{- if eq (include "isPubnet" .) "true" }}
  NETWORK_PASSPHRASE: "Public Global Stellar Network ; September 2015"
  HORIZON_URL: "https://horizon.stellar.org"
  {{- else }}
  NETWORK_PASSPHRASE: "Test SDF Network ; September 2015"
  HORIZON_URL: "https://horizon-testnet.stellar.org"
  {{- end }}
  BASE_URL: {{ include "sdp.baseURL" . | quote }}
  SDP_UI_BASE_URL: {{ include "sdp.dashboard.baseURL" . | quote }}
  PORT: {{ include "sdp.port" . | quote }}
  METRICS_PORT: {{ include "sdp.metricsPort" . | quote }}
  ADMIN_PORT: {{ include "sdp.adminPort" . | quote }}
  ANCHOR_PLATFORM_BASE_SEP_URL: {{ include "sdp.ap.baseURL" . | quote }}
  ANCHOR_PLATFORM_BASE_PLATFORM_URL: {{ include "sdp.ap.platformServiceAddress" . | quote }}
  {{- /*
Values from the `global` section
  */}}
  {{- with .Values.global }}
  SINGLE_TENANT_MODE: {{ .singleTenantMode | quote }}
  {{- if .distributionPublicKey }}
  DISTRIBUTION_PUBLIC_KEY: {{ .distributionPublicKey | quote }}
  {{- end }}
  {{- if .recaptchaSiteKey }}
  RECAPTCHA_SITE_KEY: {{ .recaptchaSiteKey | quote }}
  {{- end }}
  {{- if .sep10PublicKey}}
  SEP10_SIGNING_PUBLIC_KEY: {{ .sep10PublicKey | quote }}
  {{- end }}
  {{- /* Bridge Integration configuration */ -}}
  {{- if .bridgeIntegration.enabled }}
  ENABLE_BRIDGE_INTEGRATION: "true"
  {{- if .bridgeIntegration.baseUrl }}
  BRIDGE_BASE_URL: {{ .bridgeIntegration.baseUrl | quote }}
  {{- else }}
  BRIDGE_BASE_URL: {{ include "sdp.bridge.baseURL" $ | quote }}
  {{- end }}
  {{- end }}
  {{- end }}
  {{- /*
Values from the sdp configmap section - These will override the global values
  */}}
  {{- tpl (toYaml .Values.sdp.configMap.data | nindent 2) . }}