name: SDP<>AnchorPlatform Integration

on:
  push:
    branches:
      - main
      - develop
      - "release/**"
      - "releases/**"
      - "hotfix/**"
  pull_request:
  workflow_call: # allows this workflow to be called from another workflow

jobs:
  anchor-integration:
    runs-on: ubuntu-latest
    environment: "Anchor Integration Tests"
    env:
      DISTRIBUTION_PUBLIC_KEY: ${{ vars.DISTRIBUTION_PUBLIC_KEY }}
      DISTRIBUTION_SEED: ${{ vars.DISTRIBUTION_SEED }}
      CHANNEL_ACCOUNT_ENCRYPTION_PASSPHRASE: ${{ vars.DISTRIBUTION_SEED }}
      DISTRIBUTION_ACCOUNT_ENCRYPTION_PASSPHRASE: ${{ vars.DISTRIBUTION_SEED }}
      SEP10_SIGNING_PUBLIC_KEY: ${{ vars.SEP10_SIGNING_PUBLIC_KEY }}
      SEP10_SIGNING_PRIVATE_KEY: ${{ vars.SEP10_SIGNING_PRIVATE_KEY }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Docker Compose for SDP and Anchor Platform
        working-directory: dev
        run: docker-compose -f docker-compose-sdp-anchor.yml down && docker-compose -f docker-compose-sdp-anchor.yml up --build -d

      - name: Install curl
        run: sudo apt-get update && sudo apt-get install -y curl

      - name: Wait for localhost:8080/health
        timeout-minutes: 5
        run: |
          until curl --output /dev/null --silent --head --fail http://localhost:8080/health; do
            echo 'Waiting for anchor-platform to be up and running...'
            sleep 15
          done
          echo 'Anchor-platform is up and running.'

      - name: Install NodeJs
        uses: actions/setup-node@v4
        with:
          node-version: 14

      - name: Anchor Validation Tests (@stellar/anchor-tests)
        run: |
          npm install -g @stellar/anchor-tests
          stellar-anchor-tests --home-domain http://localhost:8000 --seps 1 10

      - name: Docker logs
        if: always()
        working-directory: dev
        run: docker-compose -f docker-compose-sdp-anchor.yml logs && docker-compose -f docker-compose-sdp-anchor.yml down
