name: E2E integration test

on:
  push:
    branches:
      - main
      - develop
      - "release/**"
      - "releases/**"
      - "hotfix/**"
  pull_request_target:
    types: [opened, synchronize, reopened]
  workflow_call: # allows this workflow to be called from another workflow

permissions:
  contents: read

env:
  USER_EMAIL: "sdp_user@stellar.org"
  USER_PASSWORD: "mockPassword123!"

jobs:
  e2e-integration-test:
    runs-on: ubuntu-latest
    environment: "Receiver Registration - E2E Integration Tests"
    env:
      DISTRIBUTION_PUBLIC_KEY: ${{ secrets.DISTRIBUTION_PUBLIC_KEY }}
      DISTRIBUTION_SEED: ${{ secrets.DISTRIBUTION_SEED }}
      SEP10_SIGNING_PUBLIC_KEY: ${{ secrets.SEP10_SIGNING_PUBLIC_KEY }}
      SEP10_SIGNING_PRIVATE_KEY: ${{ secrets.SEP10_SIGNING_PRIVATE_KEY }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cleanup data
        working-directory: internal/integrationtests
        run: docker-compose -f docker-compose-e2e-tests.yml down -v

      - name: Run Docker Compose for SDP, Anchor Platform and TSS
        working-directory: internal/integrationtests
        run: docker-compose -f docker-compose-e2e-tests.yml up --build -V -d

      - name: Install curl
        run: sudo apt-get update && sudo apt-get install -y curl

      - name: Create authenticated user
        run: |
          docker exec e2e-sdp-api bash -c "echo '$USER_PASSWORD' | ./stellar-disbursement-platform auth add-user '$USER_EMAIL' joe yabuki --password --owner --roles owner"

      - name: Create integration test data
        run: |
          docker exec e2e-sdp-api bash -c "./stellar-disbursement-platform integration-tests create-data"

      - name: Restart anchor platform
        run: |
          docker restart e2e-anchor-platform

      - name: Wait for anchor platform localhost:8080/health
        timeout-minutes: 5
        run: |
          until curl --output /dev/null --silent --head --fail http://localhost:8080/health; do
            echo 'Waiting for anchor-platform to be up and running...'
            sleep 15
          done
          echo 'Anchor-platform is up and running.'

      - name: Start integration test command
        run: |
          docker exec e2e-sdp-api bash -c "./stellar-disbursement-platform integration-tests start"

      - name: Docker logs
        if: always()
        working-directory: internal/integrationtests
        run: docker-compose -f docker-compose-e2e-tests.yml logs && docker-compose -f docker-compose-e2e-tests.yml down
