name: E2E integration test

on:
  push:
    branches:
      - main
      - develop
      - "release/**"
      - "releases/**"
      - "hotfix/**"
  pull_request:
  workflow_call: # allows this workflow to be called from another workflow

env:
  USER_EMAIL: "sdp_user@stellar.org"
  USER_PASSWORD: "mockPassword123!"
  DISTRIBUTION_PUBLIC_KEY: ${{ vars.DISTRIBUTION_PUBLIC_KEY }}
  DISTRIBUTION_SEED: ${{ vars.DISTRIBUTION_SEED }}
  CHANNEL_ACCOUNT_ENCRYPTION_PASSPHRASE: ${{ vars.DISTRIBUTION_SEED }}
  SEP10_SIGNING_PUBLIC_KEY: ${{ vars.SEP10_SIGNING_PUBLIC_KEY }}
  SEP10_SIGNING_PRIVATE_KEY: ${{ vars.SEP10_SIGNING_PRIVATE_KEY }}
jobs:
  e2e-integration-test-stellar:
    runs-on: ubuntu-latest
    environment: "Receiver Registration - E2E Integration Tests (Stellar)"
    env:
      DISTRIBUTION_ACCOUNT_TYPE: "DISTRIBUTION_ACCOUNT.STELLAR.DB_VAULT"
    steps:
      - uses: actions/checkout@v4
      - id: stellar
        uses: ./.github/workflows/actions/e2e_integration_test
  e2e-integration-test-circle:
    runs-on: ubuntu-latest
    environment: "Receiver Registration - E2E Integration Tests (Circle)"
    env:
      DISTRIBUTION_ACCOUNT_TYPE: "DISTRIBUTION_ACCOUNT.CIRCLE.DB_VAULT"
      CIRCLE_API_KEY: ${{ vars.CIRCLE_API_KEY }}
      CIRCLE_USDC_WALLET_ID: ${{ vars.CIRCLE_USDC_WALLET_ID }}
    steps:
      - uses: actions/checkout@v4
      - id: circle
        uses: ./.github/workflows/actions/e2e_integration_test
